<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('user') }}">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('home') }}">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">admin</a>
                </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('solway') }}">solway
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
